.app{
  margin: 50px;
}
.search{
  padding: 10px;
  font-size: 20px;
}
.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.search{
  background-color: var(--bg);
  color: var(--fg);
  outline: none;
  border: none;
  border-bottom:3px solid var(--fg);
  text-align: center;

}
.td{
  text-align: center;
}
:root{
--bg:#000000 ;
--fg:#C69749;
--hv:#C69749;


/*000000              C69749*/}
