
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color: var(--bg);
}

:root{
	--bg:#000000 ;
    --fg:#C69749;
    --hv:#C69749;
}
.facerecog{

    display: flex;
    justify-content: center;
    align-items: center;
	position: absolute;
    width: 100%;
    height: 100%;
	

}

.video-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	border: 5px solid var(--fg);
}

.canvas-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
	border: 5px solid var(--fg);
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}
body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}



.container{
    width: 100vw;
    height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ualert{
	display: none;
}
.spalert{
	display: none;
}
.cpalert{
	display: none;
}


.login-content{
	
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	/*position: absolute;*/
}

.img img{
	width: 500px;
}

.form{
	position: absolute;
	padding: 5px;
	height: fit-content;
	width: 370px;
	margin: 6% auto;
	border-radius: 20px;
	background-color:var(--fg);
	
	
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: var(--bg);
	
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
	border-bottom: 2px solid var(--bg);
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: var(--bg);
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: var(--bg);
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color:var(--fg);
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: var(--bg);
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color:var(--bg);
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: white;
	font-size: 0.9rem;
	transition: .3s;
}

a:hover{
	color:var(--bg);
}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-color: var(--bg);
	background-size: 200%;
	font-size: 1.2rem;
	color: var(--fg);
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}


@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	.form{
		width: 370px;
		position: relative;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}
.button-box{
	width: inherit;

	position: relative;
	border-radius: 30px;
	
	padding: 0px;
}
.toggle{
	padding: 10px 50px;
	cursor: pointer;
	background-color: transparent;
	border: 0;
	outline: none;
	position: relative;
	text-align: center;
	text-align: center;
	color:white;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	
	
	cursor: pointer;
	transition: .5s;
}
#btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 50%;
	height: 100%;
	background-color: var(--bg);
	border-radius: 30px;
	color:var(--bg);
	text-align: center;
	
}
#voter{
	display: inherit;
}
#organiser{
display: none;
}

.confirm{
  display: none;
    position: absolute;
	top:0px;
  width: 320px;
  margin-top: 25%;
  margin-left: 35%;
 position: absolute;
  margin: 40px auto;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  justify-content: center;
}
#upper-side {
    padding: 2em;
    background-color: var(--fg);
    display: block;
    color: var(--bg);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  #status {
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1em;
    margin-top: -.2em;
    margin-bottom: 0;
    color: var(--bg);
  }
  #lower-side {
    padding: 2em 2em 5em 2em;
    background: var(--fg);
    display: block;
    color: var(--bg);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  #message {
    margin-top: -.5em;
    color: var(--bg);
    letter-spacing: 1px;
  }
  #contBtn {
    position: relative;
    top: 1.5em;
    text-decoration: none;
    background: var(--bg);
    color:var(--fg);
    margin: auto;
    padding: .8em 3em;
   
    box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
    border-radius: 25px;
    
  }
  #contBtn:hover {
    
    box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
    
  }
  #ualert,#spalert,#cpalert{
	display: none;
	position: relative;
   justify-content: normal;
    margin: 0 ;
    padding:  0;
   
  }